$tree-elbow-height: 20px !default;
$tree-elbow-width: 16px !default;
$tree-checkbox-margin: 3px 3px 0 0 !default;
$tree-icon-margin: 1px 3px 0 0 !default;
$grid-cell-treecolumn-editor-field-padding-horizontal: 1px !default;