/** loading screen */
.x-mask.splashscreen {
    background-color: white;
    opacity: 1;
}

.x-mask-msg.splashscreen,
.x-mask-msg.splashscreen div {
    font-size: 16px;
    font-weight: bold;
    padding: 30px 5px 5px 5px;
    border: none;
    background-color: transparent;
    background-position: top center;
}

.x-message-box .x-window-body .x-box-inner {
    min-height: 110px !important;
}

.x-splash-icon {
    background-image: url('../images/packt-logo.png') !important;
    margin-top: -30px;
    margin-bottom: 15px;
    height: 100px;
}

/** message box */
.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:300px;
    z-index:20000;
}
#msg-div .msg {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #d4eeca;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}
#msg-div .msg h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 15px;
}
#msg-div .msg p {
    margin: 0;
}

/** Header */
#titleHeader {
    color:#000;
    font-size:20px;
    font-weight:bold;
    font-family:'Lucida Grande', Arial, Sans;
}

.capslock{
    background:url('../icons/bullet_error.png') no-repeat center left;
    padding:2px;
    padding-left:20px;
    font-weight:700
}

/** flags */
.pt_BR {
  background-image:url('../flags/br.png') !important;
}

.en {
  background-image:url('../flags/us.png') !important;
}

.es {
  background-image:url('../flags/es.png') !important;
}

/** Icons */
.key {
  background-image:url('../icons/key.png') !important;
}

.key-go {
  background-image:url('../icons/key_go.png') !important;
}

.cancel {
  background-image:url('../icons/cancel.png') !important;
}

.save {
  background-image:url('../icons/accept.png') !important;
}

.add {
  background-image:url('../icons/add.png') !important;
}

.edit {
  background-image:url('../icons/pencil.png') !important;
}

.delete {
  background-image:url('../icons/delete.png') !important;
}

.logout {
  background-image:url('../icons/door_in.png') !important;
}

.sitemap {
  background-image:url('../icons/sitemap_color.png') !important;
}

.home {
  background-image:url('../icons/house.png') !important;
}

.menu_admin {
  background-image:url('../icons/folder_user.png') !important;
}

.menu_groups {
  background-image:url('../icons/group_key.png') !important;
}

.menu_profile {
  background-image:url('../icons/user_edit.png') !important;
}

.menu_users {
  background-image:url('../icons/group_edit.png') !important;
}