$packt-footer-text-color: rgb(11, 103, 196);

.app-footer-title {
  color: $packt-footer-text-color;
  font-size: 12px;
  font-weight: bold;
}

.app-footer {
  border-top: 1px solid darken($packt-footer-text-color, 15);
  background-color: #FFF;
}